/* MusicPlayer.css */
.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  h1, h2 {
    margin: 10px 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* اضافه کردن استایل‌های دیگر به صورت دلخواه */
  