.App {
  text-align: center;
}

/* استایل لیست آلبوم‌ها */
.albums-list {
  height: 250px;
  display: flex;
  overflow-x: hidden; 
}

/* استایل هر آلبوم در لیست */
.album-item {
  margin-right: 20px; 
}

/* استایل تصاویر آلبوم */
.album-image {
  width: 150px; 
  height: 150px; 
  object-fit: cover; /* تصاویر به صورت کاور نمایش داده شوند */
  border-radius: 10px; 
}

