.App {
  text-align: center;
}

/* استایل لیست آلبوم‌ها */
.albums-list {
  height: 250px;
  display: flex;
  overflow-x: hidden; /* تغییر از auto به hidden برای جلوگیری از نمایش اسکرول دوباره */
}

/* استایل هر آلبوم در لیست */
.album-item {
  margin-right: 20px; /* فاصله بین آلبوم‌ها */
}

/* استایل تصاویر آلبوم */
.album-image {
  width: 150px; /* عرض تصاویر آلبوم */
  height: 150px; /* ارتفاع تصاویر آلبوم */
  object-fit: cover; /* تصاویر به صورت کاور نمایش داده شوند */
  border-radius: 10px; /* گوشه‌های گرد تصاویر آلبوم */
}

